$heading-font:"Syne", sans-serif;
$paragraph-font: 'Open Sans', sans-serif;
$paragraph-font-size: 16px;
$paragraph-font-color:#888888;

$clr-yellow2:#EFD46F;
$clr-primary:#4557F6;
$clr-secondry:#1A1424;

$clr-black:#000;
$clr-dark:#1A1424;

$clr-bg-light:#f9f9f9;
$clr-white:#fff;
$clr-orange:#fd7e14;
$clr-gray:#f6f7ff;
$clr-light-purple:#f0f6fe ;
$transition: .5s all ease;
$outline-none:0px none;
$inherit:inherit;
$none:none;
